<div class="container">
	<div class="row">
		<h1>Welcome to Connect 4 plus app</h1>
		
	</div>
	
	<div class="row">
		<div class="col">
		  1 of 2
		</div>
		<div class="col">
		  1 of 2
		</div>
	  </div>
	  <div class="row">
		<div class="col">
		  1 of 3
		</div>
		<div class="col">
		  1 of 3
		</div>
		<div class="col">
		  1 of 3
		</div>
	  </div>
	 
	<div class="row">
		<div class="col">
		  1 of 3
		</div>
		<div class="col-6">
		  2 of 3 (wider)
		</div>
		<div class="col">
		  3 of 3
		</div>
	  </div>
	  <div class="row">
		<div class="col">
		  1 of 3
		</div>
		<div class="col-5">
		  2 of 3 (wider)
		</div>
		<div class="col">
		  3 of 3
		</div>
	  </div>
	  
	 
	<div class="row justify-content-md-center">
		<div class="col col-lg-2">
		  1 of 3
		</div>
		<div class="col-12 col-md-auto">
		  Variable width content
		</div>
		<div class="col col-lg-2">
		  3 of 3
		</div>
	  </div>
	  <div class="row">
		<div class="col">
		  1 of 3
		</div>
		<div class="col-12 col-md-auto">
		  Variable width content
		</div>
		<div class="col col-lg-2">
		  3 of 3
		</div>
	  </div>
	  
	<div class="row">
	  <div class="col">col</div>
	  <div class="col">col</div>
	  <div class="w-100"></div>
	  <div class="col">col</div>
	  <div class="col">col</div>
	</div>
	
	<div class="row">
	  <div class="col">col</div>
	  <div class="col">col</div>
	  <div class="col">col</div>
	  <div class="col">col</div>
	</div>
	<div class="row">
	  <div class="col-8">col-8</div>
	  <div class="col-4">col-4</div>
	</div>
	
	<div class="row">
	  <div class="col-sm-8">col-sm-8</div>
	  <div class="col-sm-4">col-sm-4</div>
	</div>
	<div class="row">
	  <div class="col-sm">col-sm</div>
	  <div class="col-sm">col-sm</div>
	  <div class="col-sm">col-sm</div>
	</div>
	
	<!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="row">
	  <div class="col col-md-8">.col .col-md-8</div>
	  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
	</div>

	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
	  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
	  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
	</div>

	<!-- Columns are always 50% wide, on mobile and desktop -->
	<div class="row">
	  <div class="col-6">.col-6</div>
	  <div class="col-6">.col-6</div>
	</div>
	
	<div class="row align-items-start">
		<div class="col">
		  One of three columns
		</div>
		<div class="col">
		  One of three columns
		</div>
		<div class="col">
		  One of three columns
		</div>
	  </div>
	  <div class="row align-items-center">
		<div class="col">
		  One of three columns
		</div>
		<div class="col">
		  One of three columns
		</div>
		<div class="col">
		  One of three columns
		</div>
	  </div>
	  <div class="row align-items-end">
		<div class="col">
		  One of three columns
		</div>
		<div class="col">
		  One of three columns
		</div>
		<div class="col">
		  One of three columns
		</div>
	  </div>
  
	<div class="row">
		<div class="col align-self-start">
		  One of three columns
		</div>
		<div class="col align-self-center">
		  One of three columns
		</div>
		<div class="col align-self-end">
		  One of three columns
		</div>
	  </div>
	  
	<div class="row justify-content-start">
		<div class="col-4">
		  One of two columns
		</div>
		<div class="col-4">
		  One of two columns
		</div>
	  </div>
	  <div class="row justify-content-center">
		<div class="col-4">
		  One of two columns
		</div>
		<div class="col-4">
		  One of two columns
		</div>
	  </div>
	  <div class="row justify-content-end">
		<div class="col-4">
		  One of two columns
		</div>
		<div class="col-4">
		  One of two columns
		</div>
	  </div>
	  <div class="row justify-content-around">
		<div class="col-4">
		  One of two columns
		</div>
		<div class="col-4">
		  One of two columns
		</div>
	  </div>
	  <div class="row justify-content-between">
		<div class="col-4">
		  One of two columns
		</div>
		<div class="col-4">
		  One of two columns
		</div>
	  </div>
	  
	  <div class="row no-gutters">
		  <div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8</div>
		  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
		</div>
		
	 <div class="row">
	  <div class="col-9">.col-9</div>
	  <div class="col-4">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
	  <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
	</div>
	
	<div class="row">
	  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
	  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix hidden-sm-up"></div>

	  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
	  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
	</div>
	
	<div class="row">
	  <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
	  <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">.col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0</div>
	</div>

	<div class="row">
	  <div class="col-sm-6 col-md-5 col-lg-6">.col.col-sm-6.col-md-5.col-lg-6</div>
	  <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">.col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0</div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
	</div>
	<div class="row">
	  <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
	  <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
	</div>
	<div class="row">
	  <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
	</div>
	  
	<div class="row">
	  <div class="col-md-9 push-md-3">.col-md-9 .push-md-3</div>
	  <div class="col-md-3 pull-md-9">.col-md-3 .pull-md-9</div>
	</div>
	
	<div class="row">
	  <div class="col-sm-9">
		Level 1: .col-sm-9
		<div class="row">
		  <div class="col-8 col-sm-6">
			Level 2: .col-8 .col-sm-6
		  </div>
		  <div class="col-4 col-sm-6">
			Level 2: .col-4 .col-sm-6
		  </div>
		</div>
	  </div>
	</div>
	
</div>


