/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08 28, 17, 9:22:10 AM
    Author     : lale
*/

.borders span {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}
.border-radius img {
  width: 150px;
  height: 150px;
  margin: 10px;
/*  border-radius: 30px;*/
}

